<%= form_with(model: supply, class: "form") do |form| %>
  <% if supply.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
        <% supply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, Supplier.order(:name), :id, :name, { prompt: 'Seleccione el proveedor' }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :total_value %>
    <%= form.text_field :total_value, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
