<div id="<%= dom_id supply %>">
  <p>
    <strong>Supplier:</strong>
    <%= supply.supplier_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= supply.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= supply.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= supply.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= supply.unit_price %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= supply.total_value %>
  </p>

</div>
