<p style="color: green"><%= notice %></p>

<h1>Proveedores</h1>

<%= link_to "Agregar Proveedor", "#modal-supplier", class: "btn btn-primary", data: { toggle: "modal" } %>
<br>
<br>
<div id="suppliers">
  <table class="table table-bordered table-light">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>CIF</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr id="<%= dom_id supplier %>">
          <td><%= supplier.name %></td>
          <td><%= supplier.email %></td>
          <td><%= supplier.phone %></td>
          <td><%= supplier.cif %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Acciones">
              <%= link_to "Editar", edit_supplier_path(supplier), class: "btn btn-secondary" %>
              <%= link_to "Eliminar", supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="modal-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLongTitle">Ingreso de Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', supplier: Supplier.new, class: "form-horizontal" %>
      </div>
    </div>
  </div>
</div>







